In [16]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [17]:
df = pd.read_csv('../datasets/titanic-train-test/train.csv')[['Age', 'Pclass', 'SibSp', 'Parch', 'Survived']]

df.sample(5)

      Age  Pclass  SibSp  Parch  Survived
873  47.0       3      0      0         0
640  20.0       3      0      0         0
86   16.0       3      1      3         0
484  25.0       1      1      0         1
843  34.5       3      0      0         0

In [18]:
df.dropna(inplace=True)

In [19]:
df.sample(5)

      Age  Pclass  SibSp  Parch  Survived
211  35.0       2      0      0         1
374   3.0       3      3      1         0
816  23.0       3      0      0         0
131  20.0       3      0      0         0
430  28.0       1      0      0         1

In [20]:
X = df.iloc[:, :4]
y = df.iloc[:, -1]

np.mean(cross_val_score(LogisticRegression(), X, y, scoring='accuracy', cv=20))

0.6933333333333332

## Applying Feature Construction

In [21]:
X['Family_size'] = X['SibSp'] + X['Parch'] + 1

In [22]:
def myfunc(num):
    if num == 1:
        #alone
        return 0
    elif num >1 and num <=4:
        # small family
        return 1
    else:
        # large family
        return 2

In [23]:
X['Family_type'] = X['Family_size'].apply(myfunc)

In [24]:
np.mean(cross_val_score(LogisticRegression(), X, y, scoring='accuracy', cv=20))

0.7031746031746031

## Feature Splitting

In [25]:
df = pd.read_csv('../datasets/titanic-train-test/train.csv')

df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
767,768,0,3,"Mangan, Miss. Mary",female,30.5,0,0,364850,7.7500,NaN,Q
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.0,1,1,347742,11.1333,NaN,S
63,64,0,3,"Skoog, Master. Harald",male,4.0,3,2,347088,27.9000,NaN,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9000,NaN,S
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0000,NaN,S

In [26]:
df['Title'] = df['Name'].str.split(', ', expand=True)[1].str.split('.', expand=True)[0]

In [27]:
(df.groupby('Title').mean()['Survived']).sort_values(ascending=False)

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
df['Is_Married'] = 0
df['Is_Married'].loc[df['Title'] == 'Mrs'] = 1

/tmp/ipykernel_15494/2254989826.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Is_Married'].loc[df['Title'] == 'Mrs'] = 1
/tmp/ipykernel_15494/2254989826.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Is_Married'].loc[df['Title'] == 'Mrs'] = 1

In [ ]:
df['Is_Married']

0      0
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    0
889    0
890    0
Name: Is_Married, Length: 891, dtype: int64