In [1]:
import numpy as np
import pandas as pd

In [2]:
country = ["India", "USA", "Canada", "Nepal", "Bhutan"]
pd.Series(country)

0     India
1       USA
2    Canada
3     Nepal
4    Bhutan
dtype: object

In [3]:
marks = [67, 57, 89, 100]
subjects = ["math", "english", "science", "hindi"]

pd.Series(marks, index=subjects)

math        67
english     57
science     89
hindi      100
dtype: int64

In [4]:
marks = pd.Series(marks, index=subjects, name="someones marks")

marks

math        67
english     57
science     89
hindi      100
Name: someones marks, dtype: int64

In [5]:
marks.size

4

In [6]:
marks.dtype

dtype('int64')

In [7]:
marks.name

'someones marks'

In [8]:
marks.is_unique

True

In [9]:
marks.index

Index(['math', 'english', 'science', 'hindi'], dtype='object')

In [10]:
marks.values

array([ 67,  57,  89, 100])

In [11]:
df = pd.read_csv("./subs.csv")
subs = df.squeeze(axis=1)  # to convert to series
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [12]:
df = pd.read_csv("./kohli_ipl.csv", index_col="match_no")
vk = df.squeeze(axis=1)

vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [13]:
movies = pd.read_csv("./bollywood.csv", index_col="movie").squeeze(axis=1)

movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [14]:
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [15]:
vk.tail()

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [16]:
movies.sample()

movie
Mukkabaaz    Viineet Kumar
Name: lead, dtype: object

In [17]:
movies.value_counts(ascending=False)

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [19]:
vk.sort_values(ascending=False).head(1).values[0]

113

In [24]:
vk1 = vk.copy()
vk1.sort_values(inplace=True)
vk1

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [26]:
vk.sort_index(inplace=True)

vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [29]:
movies.sort_index(inplace=True)

movies

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

In [30]:
vk.count()

215

In [31]:
subs.sum()

49510

In [32]:
subs.product()

0

In [33]:
subs.mean()

135.64383561643837

In [34]:
vk.median()

24.0

In [35]:
movies.mode()

0    Akshay Kumar
Name: lead, dtype: object

In [36]:
subs.std()

62.6750230372527

In [37]:
vk.var()

688.0024777222343

In [38]:
subs.max()

396

In [39]:
subs.min()

33

In [40]:
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

In [41]:
subs.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

In [42]:
movies.describe()

count             1500
unique             566
top       Akshay Kumar
freq                48
Name: lead, dtype: object